<h1><%= @diary.diary_title %></h1>
<h1><%= @diary.diary_body %></h1>
<%# @diary.diary_images.each do |di| %>
<%= attachment_image_tag @diary.diary_images.first, :image, size: "50x50", fallback: "no-image-mini.jpg" %>
<%# end %>
<%= @diary.diary_images.inspect %>