<div class="container">
	<div class="row">
		<div class="col col-md-4"><%= render 'users/sidebar', user: current_user %></div>
		<div class="col col-md-8">
			<h5>New Diary</h5>
			<%= form_for(@diary) do |f| %>
			<% end %>
		</div>
	</div>
</div>